<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <h1>Users</h1>
    <table border="1">
        <tr>
            <th>id</th>
            <th>fname</th>
            <th>lname</th>
            <th>img_url </th>
            <th>register_date D </th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.fname }}</td>
            <td>{{ user.lname }}</td>
            <td>{{user.img_url}}</td>
            <td>{{user.register_date}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
